/* prototype styling --> intend to use bootstrap / react / another UI template */

/* containers */
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  color: auto;
  font-family: Consolas, monaco, monospace;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0.3rem 0 0 0.3rem;
}

.player-wrap {
  width: 640px;
  height: 360px;
  display: inline-block;
}

.session-wrap {
  display: inline-block;
  width: 629px; /* why -11px? */
  height: 349px; /* why -11px? */
  border: solid 1px red;
  margin: 0 0 0.3rem 0;
  padding: 0.3rem;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
}

#search-container {
  margin: 0;
  width: 60%;
  height: auto;
  color: rgb(0, 0, 0);
  display: inline-block;
}

/* forms and lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#enter,
#buttons {
  width: 30rem;
  margin-bottom: 0.3rem;
  padding: 0.6rem;
  border: solid 1px red;
  text-align: center;
}

#enter p,
#buttons p {
  margin: 0 0 0.5rem 0;
}

input {
  margin-left: 0.3rem;
}

.highlight,
.searchLi {
  margin-bottom: 0.7rem;
  background: rgb(250, 250, 250);
  border: solid 0.5px lightgray;
}

.thumbnail {
  margin: 0;
  padding-top: 0.35rem;
}

.thumbnail,
.summary {
  display: inline-block;
}

.summary {
  width: 60%;
  height: 100%;
  vertical-align: top;
}

.summary li {
  margin-top: 0.3rem;
}

.summary a {
  margin: 0;
  padding: 0;
}

/* .summary li:nth-last-child(1) {
  margin-bottom: 0;
} */
